html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr); 
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    row-gap: 15px;
}
#title {
    color: rgb(0, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    grid-column: 4 / span 3;
    text-align: center;
}
#encloser {
    grid-column: 4 / 7;
    grid-row: 3 / 5;
    justify-content: center;
}

button {
    padding: 10px 40px;
    border-radius: 25px;
    color:white;
    background-color: rgb(173, 49, 173);
    font-size: 20px;
}
#cute {
    font-size: 20px;
    visibility: hidden;
    animation: color-change 1s infinite;
}

.container {
    width: 800px;
    height: 400px;
    grid-column: 2 / span 6;
    grid-row: 3 / span 6;
    overflow: auto;
    background-color: rgba(0, 64, 202, 0.514);
    grid-template-columns: 160px auto;
    display: grid;
    justify-items: center;
}
#GE {
    font-size: 10px;
    padding-left: 6px;
    grid-column: 1;
    grid-row: 1;
}
.buttons {
    grid-column: 1;
    grid-row: 1;
}
.buttons button {
    border-radius: 0%;
    display: block;
    text-align: left;
    color: white;
    background-color: black;
    width: 160px;
    padding-right: auto;
    padding-left: 2%;
    font-size: 25px;
}
.buttons button:hover {
    color: black;
    background-color: white;
}
header {
    grid-column: 5;
    grid-row: 2;
}
#content {
    grid-column: 2;
    grid-row: 1;
    float: right;
    overflow: auto;
    height: 400px;
    width: auto;
}

#content h2 {
    text-align: center;
    font-size: 35px;
}
#content p {
    text-align: center;
    font-size: 20px;
}







@keyframes color-change {
    0% { color: red; }
  20% { color: blue; }
  40% { color: rgb(0, 255, 64); }
  60% { color: rgb(0, 0, 0); }
  80% { color: rgb(255, 0, 234); }
  100% { color: red; }
}
